*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --accent: #ff9a62;
    --white: #fff;
    --gray: #f8f8f8;
}

.heropage{
    min-width: 100%;
    min-height: 100vh;
    background-image: url(img/heroimg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background: transparent;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 40px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
}
a:hover{
    background-color: rgba(42,40,37,.3);
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.headline{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 132px;
}

.title{
    font-size: 80px;
    font-weight: bolder;
}
.description{
    font-size: 28px;
}

.callout{
    width: 300px;
    height: 50px;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer;
    transition: all .5s;
}
.callout:hover{
    border-radius: 40px;
    background-color: black;
}

.upanddown{
    animation-name: scrolldown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/* animation for up and down */

@keyframes scrolldown{
    0%,
    100%{
        margin-top: 80px;
    }
    50%{
        margin-top: 90px;
    }
}

/* features */
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.features h2{
    font-size: 36px;
    font-weight: 600;
    margin-top: 60px;
}

.small-divider{
    width: 20%;
    border-top: 2px solid var(--accent);
    margin-top: 20px;
}

.boxes{
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--accent);
    height: 100%;
    width: 310px;
    padding: 30px;
    border-radius: 30px;
    transition: all .3s;
    gap: 20px;
}
.box:hover{
    padding: 50px;
    transform: translateY(-20px);
}
.box h6{
    font-size: 24px;
}
.box p{
    font-size: 14px;
}

.divider{
    margin-top: 80px;
    margin-bottom: 40px;
    width: 90%;
    border-top: 2px solid var(--accent);
}